@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: lightgrey;
}

#homecard {
    background-color: gray;
    height: 90vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.todayis, .todaysongs {
    padding-top: 10%;
    padding-bottom: 10%;   
}

.todayis {
    font-size: xx-large;
}

#calendarview {
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 3fr 3fr;
    align-items: center;
}

.monthdiv {
    text-align: center;
    border: 1px solid black;
}

#monthsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#monthnamediv, #daynamediv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#monthnamediv {
    grid-area: 1/1/1/8;
}

#chevronleft, #chevronsleft {
    max-width: 100%;
    filter: invert(1);
}